<h1><%= t :dashboard %></h1>
<hr>
<div class="container-fluid">
  <activities id="dashboard-activities" class="col-sm-8">
    <%= render "public_activity/default", activities: @activities %>
  </activities>
</div>
