<div class="col-xs-12 col-md-6 col-md-offset-6">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4><i class="fa fa-wrench"></i> Account Settings </h4>
	</div>
	<div class="panel-body">
		<%= render "devise/registrations/edit" %>
	</div>
</div>
</div>
