<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Freaktags</title>
		<link href="./app/public/img/logo/favicon.png" rel="icon" sizes="64x64">
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="./app/public/css/style.css" rel="stylesheet">
		
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script src="./app/public/js/app.js"></script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img class="logo" src="./app/public/img/logo/logo.png"/></a>
				</div>
		
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#">Link</a></li>
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-user"></i> <span>Your Account</span> <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" openModal="loginForm"><i class="fa fa-sign-in"></i> <span>Sign in</span></a></li>
							<li><a href="#" openModal="signUpForm"><i class="fa fa-users"></i> Join us</a></li>
							<li class="divider"></li>
							<li><a href="#" openModal="forgotPasswordForm"><i class="fa fa-lock"></i> Forgot Password?</a></li>
						</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container-fluid">
			<div class="col-lg-3" style="background:red;height:200px"></div>
			<div class="col-lg-6" style="background:green;height:2000px"></div>
			<div class="col-lg-3" style="background:blue;height:200px"></div>
		</div>
		
		
	</body>
</html>