<nav id="navbar-top" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header navbar-right">
      <%= navbar_logo %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">

    </div>
  </div>
</nav>

