<div class="col-xs-12 col-md-6 col-md-offset-6">
<div class="panel panel-primary">
	<div class="panel-heading">
		<h4><i class="fa fa-sign-in"></i> Sign in </h4>
	</div>
	<div class="panel-body">
		<%= render "devise/sessions/new" %>
	</div>
	<div class="panel-footer">
		<%= render "devise/shared/links" %>
	</div>
</div>
</div>
