<br>
<% followers.each do |f| %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="well well-sm">
        <div class="media">
          <%= link_to gravatar_for(f, class: "img-circle pull-left"), profile_path(f.username) %>
          <div class="media-body" >
            <div style="margin-left: 10px;">
              <h3 class="media-heading">
               <%= link_to f.username, f %>
              </h3>
              <div class="btn-group" role="group">
                <%= link_to fa("user-plus"), dashboard_path, title: :add.to_s.titleize, class: "btn btn-default" %>
                <%= link_to fa("comment-o"), dashboard_path, title: :message.to_s.titleize, class: "btn btn-default" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
